.holdApartment .divModel {
  width: 40%;
  height: 4vw;
  background-color: rgb(212, 212, 212);
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.6rem;
  line-height: 1.8vw;
  text-align: center;
}

.holdApartment .btnsModal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.holdApartment .btnModal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  height: 2vw;
  border-radius: 2vw;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: rgb(4, 0, 61);
  color: white;
}
