.App {
  position: relative;
  width: 100%;
  min-height: 99.5vh;
  margin: 0 auto;
  border-bottom: rgb(28, 2, 99) 0.5vh solid;
}
.top {
  position: fixed;
  bottom: 3vw;
  right: 3vw;
  z-index: 1;
}
