.editApartment .div-all-input {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.editApartment .divInputDetails {
  position: relative;
  width: 23%;
  height: 5rem;
  margin: 2.3rem 1%;
}

.editApartment .labelInput {
  border: rgb(196, 196, 196) 0.1vw solid;
  border-radius: 10vw;
  background-color: rgb(255, 255, 255);
  margin-right: 1vw;
  height: 1rem;
  top: -1.7rem;
  position: absolute;
  color: rgb(85, 85, 85);
  padding: 1rem 1.5rem;
  line-height: 0.5vw;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.editApartment .inputDetails {
  height: 5rem;
  border-radius: 4px;
  border: 1px solid rgb(196, 196, 196);
  width: calc(100% - 2rem);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}

.editApartment .inputDetails:hover {
  border: 1px solid rgb(0, 0, 0);
}
.editApartment .inputDetails:focus {
  border: 1px solid rgb(0, 0, 0);
}
.editApartment #width-select {
  width: calc(100% + 2px);
  height: calc(5rem + 1.2rem);
}

.header_edit {
  width: calc(100% - 40px);
  background-color: rgb(207, 207, 207);
  padding: 10px 20px;
  margin: 20px auto;
}

.editApartment .img {
  width: 13vw;
  height: 8vw;
  margin: 1vw;
}
.div-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.delete_img {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: red;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}

@media only screen and (max-width: 1000px) {
  .editApartment .divInputDetails {
    position: relative;
    width: 30%;
    height: 5rem;
    margin: 2.3rem 1%;
  }
}
@media only screen and (max-width: 750px) {
  .editApartment .divInputDetails {
    position: relative;
    width: 40%;
    height: 5rem;
    margin: 2.3rem 1%;
  }
}

@media only screen and (max-width: 600px) {
  .editApartment .div-all-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .editApartment .divInputDetails {
    position: relative;
    width: 80%;
    height: 5rem;
    margin: 2.3rem auto;
  }
  .editApartment .labelInput {
    border: rgb(196, 196, 196) 0.1vw solid;
    border-radius: 10vw;
    background-color: rgb(255, 255, 255);
    margin-right: 5vw;
    top: -1rem;
    position: absolute;
    color: rgb(85, 85, 85);
    padding: 0.5rem 1.5rem;
    line-height: 0;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editApartment .inputDetails {
    height: 5rem;
    border-radius: 4px;
    border: 1px solid rgb(196, 196, 196);
    width: calc(100% - 2rem);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }
}
