.myApartment {
  position: relative;
  width: 100%;
}
.boxheader {
  position: absolute;
  width: 90%;
  left: 2%;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}
.nameApartment h1,
.nameApartment h2 {
  margin-block-end: 0 !important;
  margin-inline-start: 10px !important;
}
.nameApartment {
  width: 80%;
  height: 100%;
  align-items: center;
  display: flex;
  font-size: 1.2rem;
}
.show {
  width: 20%;
  height: 100%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

.btnsbottom {
  width: 100%;
  height: 50px;
  background-color: rgb(212, 212, 212);
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.myApartment .div_btn {
  width: 30%;
  max-width: 200px;
  height: 35px;
}
.myApartment .btn {
  width: 100%;
  height: 35px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  font-weight: 700;
  background-color: rgb(4, 0, 61);
  color: white;
}
.loading {
  width: 100%;
  margin-top: 50px;
  text-align: center;
  font-size: 2rem;
}
.underline {
  cursor: pointer;
  font-weight: 700;
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  .show {
    width: 15%;
    height: 100%;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 120%;
  }
  .myApartment .nameApartment {
    width: 80%;
    height: 100%;
    align-items: flex-start;
    display: flex;
    font-size: 0.8rem;
    flex-direction: column;
  }
  .myApartment .btn {
    font-size: 1.4rem;
  }
}
