.home {
  padding: 0% 6% 3% 5%;
  width: 800px;
  margin: 10px auto;
  cursor: pointer;
}

.box {
  border: 5px black solid;
  display: grid;
  grid-template-columns: 35% 40% 25%;
  margin: 10px;
  font-weight: 900;
  background-color: aliceblue;
}

.home .imgaa {
  width: 150px;
  height: 100px;
}

@media only screen and (max-width: 1300px) {
  .home {
    margin: 10px 200px;
    width: 60%;
  }
}
