.home {
  width: 100%;
  position: relative;
}
.divApartments {
  width: 60%;
  position: relative;
  right: 20%;
}

.home .filterArea {
  height: 4vw;
  width: 100%;
  margin: 0px auto 0px;
  background-color: rgb(28, 2, 99);
  position: sticky;
  top: 0;
  border-bottom: rgb(222, 241, 255) 0.3vw solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  z-index: 100;
}

@media only screen and (max-width: 1300px) {
}
