.home {
  padding: 0% 6% 3% 5%;
  width: 70%;
  margin: 20px auto;
}

.box {
  border: 5px black solid;
  display: grid;
  grid-template-columns: 35% 40% 25%;
  margin: 10px;
}

.home .imgaa {
  width: 350px;
  height: 250px;
}

@media only screen and (max-width: 999px) {
  .home {
    padding: 0% 5% 0% 3%;
    width: 92%;
  }
}
