.filterArea {
  position: relative;
  width: 100%;
}

.btnarea {
  width: initial;
  height: 4vw;
  background-color: transparent;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 1.2vw;
  font-weight: 700;
}
.btnarea::after {
  content: " | ";
  margin: 0 18px;
}
.divShowFavorite {
  width: 18%;
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 1300px) {
}
