.editApartment .div-all-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.header_edit {
  width: 100%;
  background-color: rgb(207, 207, 207);
  padding: 0.5vw 2vw;
}

.editApartment .divInputDetails {
  position: relative;
  width: 14.3vw;
  height: 4vw;
  margin: 2vw 0;
}

.editApartment .labelInput {
  border: rgb(196, 196, 196) 0.1vw solid;
  border-radius: 10vw;
  background-color: rgb(255, 255, 255);
  margin-right: 1vw;
  top: -0.8vw;
  position: absolute;
  color: rgb(85, 85, 85);
  padding: 0.5vw 0.7vw;
  line-height: 0.5vw;
  font-weight: 700;
  font-size: 1vw;
}

.editApartment .inputDetails {
  height: 4vw;
  border-radius: 4px;
  border: 1px solid rgb(196, 196, 196);
  width: 12vw;
  font-size: 1vw;
  font-weight: 600;
  padding: 0 1vw;
}
.editApartment .inputDetails:hover {
  border: 1px solid rgb(0, 0, 0);
}
.editApartment .inputDetails:focus {
  border: 1px solid rgb(0, 0, 0);
}
.editApartment #width-select {
  width: 14vw;
}
.editApartment .textarea {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 4px;
  height: 12vw;
  font-size: 1vw;
  font-weight: 600;
  padding: 1vw 1vw;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  scroll-padding: 50px;
  color: black;
}
.editApartment .special {
  border: 1px solid rgb(196, 196, 196);
  width: 60vw;
  border-radius: 4px;
  /* height: 18vw; */
  font-size: 1vw;
  font-weight: 600;
  padding: 2vw 2vw;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  scroll-padding: 50px;
  color: black;
  /* display: flex; */
  column-count: 4;
}

.editApartment .textarea:hover {
  border: 1px solid rgb(0, 0, 0);
}
.editApartment .textarea:focus {
  border: 2px solid rgb(6, 0, 97);
}
.editApartment .div-textarea-Details {
  position: relative;
  height: auto;
  margin: 2vw 0;
  /* background-color: red; */
}
.editApartment #short {
  width: 15vw;
}
.editApartment #long {
  width: 42vw;
}

.editApartment [placeholder]:empty:before {
  content: attr(placeholder);
  color: rgb(133, 133, 133);
  background-color: transparent;
}
.editApartment .img {
  width: 13vw;
  height: 8vw;
  margin: 1vw;
}
.div-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.delete_img {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  color: red;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
}
