#outlined-basic {
  /* width: 100% !important; */
  background-color: rgb(255, 255, 255) !important;
  height: 100% !important;
  padding: 0 1vw;
}

.addApartment .MuiBox-root {
  width: 21% !important;
  /* height: 5vw !important; */
  margin: 1vw 2%;
  display: inline-block;
}
.addApartment {
  width: 100%;
  position: relative;
  margin-top: 2vw;
}
#outlined-basic-label {
  font-size: 1.2vw !important;
  font-weight: 700 !important;
  margin-top: -0.1vw !important;
  /* margin-left: 0.1vw !important; */
}
.MuiFormControl-root.MuiTextField-root {
  width: 100% !important;
}

.MuiInputBase-root {
  height: 4vw !important;
  width: 100% !important;
  font-size: 1.2vw !important;
  /* font-weight: bold !important; */
}

#demo-simple-select-label {
  font-size: 1.2vw !important;
  font-weight: 700 !important;
  margin-top: -0.1vw !important;
  /* margin-left: 0.1vw !important; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 5vw white inset !important;
}
