.addApartment .div-all-input {
  width: calc(100% - 2rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.addApartment .divInputDetails {
  position: relative;
  width: 23%;
  height: 5rem;
  margin: 2.3rem 1%;
}

.addApartment .labelInput {
  border: rgb(196, 196, 196) 0.1vw solid;
  border-radius: 10vw;
  background-color: rgb(255, 255, 255);
  margin-right: 1vw;
  height: 1rem;
  top: -1.7rem;
  position: absolute;
  color: rgb(85, 85, 85);
  padding: 1rem 1.5rem;
  line-height: 0.5vw;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.addApartment .inputDetails {
  height: 5rem;
  border-radius: 4px;
  border: 1px solid rgb(196, 196, 196);
  width: calc(100% - 2rem);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
}
.addApartment .inputDetails:hover {
  border: 1px solid rgb(0, 0, 0);
}
.addApartment .inputDetails:focus {
  border: 1px solid rgb(0, 0, 0);
}
.addApartment #width-select {
  width: calc(100% + 2px);
  height: calc(5rem + 1.2rem);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 5vw white inset !important;
}

$midnight: #ebe9e9;
$clouds: #000000;

.addApartment .input-checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.addApartment .row {
  display: flex;
  .col {
    flex: 1;
    &:last-child {
      margin-left: 1em;
    }
  }
}
/* Accordion styles */
.addApartment .tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.addApartment .tab {
  width: 100%;
  color: rgb(0, 0, 0);
  overflow: hidden;
  &-label {
    font-size: 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background: $midnight;
    font-weight: 700;
    cursor: pointer;
    margin: 1vw;
    border-radius: 0.8vw;
    /* Icon */
    &:hover {
      background: darken($midnight, 10%);
    }
    &::before {
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all 0.35s;
      transform: rotate(-90deg);
    }
  }
  &-content {
    max-height: 0;
    padding: 0 1em;
    color: $midnight;
    background: white;
    transition: all 0.35s;
  }
  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $midnight;
    cursor: pointer;
    &:hover {
      background: darken($midnight, 10%);
    }
  }
}

// :checked
.addApartment input:checked {
  + .tab-label {
    background: darken($midnight, 10%);
    &::before {
      transform: rotate(90deg);
    }
  }
  ~ .tab-content {
    max-height: 1000vh;
    padding: 1rem;
  }
}

@media only screen and (max-width: 1350px) {
  .addApartment .div-all-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .addApartment .divInputDetails {
    position: relative;
    width: 80%;
    height: 5rem;
    margin: 2.3rem auto;
  }
  .addApartment .labelInput {
    border: rgb(196, 196, 196) 0.1vw solid;
    border-radius: 10vw;
    background-color: rgb(255, 255, 255);
    margin-right: 5vw;
    // height: 1rem;
    top: -1rem;
    position: absolute;
    color: rgb(85, 85, 85);
    padding: 0.5rem 1.5rem;
    line-height: 0;
    font-weight: 700;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .addApartment .inputDetails {
    height: 5rem;
    border-radius: 4px;
    border: 1px solid rgb(196, 196, 196);
    width: calc(100% - 2rem);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
  }
}
