.addApartment .textarea {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 4px;
  height: 14rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.2rem;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  scroll-padding: 50px;
  color: black;
  line-height: 2.5rem;
}
.addApartment .special {
  border: 1px solid rgb(196, 196, 196);
  border-radius: 4px;
  font-size: 1.8rem;
  font-weight: 600;
  padding: 3rem;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  scroll-padding: 50px;
  color: black;
  column-count: 4;
}

.addApartment .textarea:hover {
  border: 1px solid rgb(0, 0, 0);
}
.addApartment .textarea:focus {
  border: 2px solid rgb(6, 0, 97);
}
.addApartment .div-textarea-Details {
  position: relative;
  height: auto;
  margin: 2.3rem 1%;

  /* background-color: red; */
}
.addApartment #short {
  width: 33%;
}
.addApartment #long {
  width: 60%;
}
.addApartment #special {
  width: 98%;
}

.addApartment [placeholder]:empty:before {
  content: attr(placeholder);
  color: rgb(133, 133, 133);
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .addApartment .special {
    column-count: 3;
  }
}
@media only screen and (max-width: 600px) {
  .addApartment .special {
    column-count: 1;
  }
  .addApartment #short {
    width: 98%;
    height: 10rem !important;
  }
  .addApartment #short .textarea {
    height: 10rem !important;
  }
  .addApartment #long {
    width: 98%;
  }
}
