.apartmentShow .sendMessage {
  position: relative;
  width: 95%;
  height: auto;
}

.sendMessage .allSendMessage {
  width: calc(100% - 30px);
  position: relative;
  border: rgb(16, 0, 61) 2px solid;
  border-top: rgb(16, 0, 61) 5px solid;
  color: rgb(24, 0, 90);
  font-weight: 700;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 400px;
  max-height: 400px;
}
.sendMessage input {
  width: 80%;
  height: 30px;
  border: rgb(16, 0, 100) 1px solid;
  border-radius: 12px;
  text-align: center;
  padding: 5px 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 20px;
  font-size: 1.5rem;
}
.sendMessage #message {
  width: 80%;
  height: 90px;
  border: rgb(16, 0, 100) 1px solid;
  border-radius: 12px;
  text-align: center;
  overflow: auto;
  padding: 15px 15px;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  margin-top: 20px;
}

.sendMessage ::-webkit-scrollbar {
  width: 6px;
}

.sendMessage ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px 0 0 10px;
}

.sendMessage ::-webkit-scrollbar-thumb {
  background: rgb(2, 0, 129);
  border-radius: 10px 0 0 10px;
}

.sendMessage .btnmessage {
  margin: 20px auto;
  width: 80%;
  border-radius: 10px;
  font-size: 2.1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendMessage .btnmessage:after {
  border-radius: 15px;
  bottom: -10px;
}

.sendMessage .btnmessage:hover {
  background-color: rgb(214, 174, 255);
  color: rgb(16, 0, 61);
}

.sendMessage .btnmessage:active {
  background-color: rgb(16, 0, 61);
  color: rgb(255, 255, 255);
}

.sendMessage [placeholder]:empty:before {
  content: attr(placeholder);
  color: gray;
  background-color: transparent;
}

.sendMessage .modal {
  position: absolute;
  background: white;
  border-radius: 1vw;
  filter: drop-shadow(0 0 0.6vw rgb(0, 0, 0));
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.7rem;
  line-height: 3rem;
  font-weight: 700;
}

.sendMessage .display-none {
  display: none;
}

@media only screen and (max-width: 600px) {
  .apartmentShow .sendMessage {
    position: relative;
    width: 100%;
    height: auto;
  }

  .sendMessage .allSendMessage {
    width: calc(100% - 4px);
    position: relative;
    border: rgb(16, 0, 61) 2px solid;
    border-top: rgb(16, 0, 61) 5px solid;
    color: rgb(24, 0, 90);
    font-weight: 700;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
  }
  /* .sendMessage input {
    width: 80%;
    height: 30px;
    border: rgb(16, 0, 100) 1px solid;
    border-radius: 12px;
    text-align: center;
    padding: 5px 15px;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;
    font-size: 1.5rem;
  }
  .sendMessage #message {
    width: 80%;
    height: 90px;
    border: rgb(16, 0, 100) 0.2vw solid;
    border-radius: 12px;
    text-align: center;
    overflow: auto;
    padding: 15px 15px;
    background-color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-top: 20px;
  } */
}
