.apartmentShow .information {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 50px;
}

.information .allInfo {
  width: calc(100% - 44px);
  position: relative;
  border: rgb(16, 0, 61) 2px solid;
  border-top: rgb(16, 0, 61) 5px solid;
  color: rgb(24, 0, 90);
  font-weight: 700;
  /* height: auto; */
  padding: 20px;
}

.information .info {
  display: grid;
  grid-template-columns: 40% 55%;
  font-size: 2rem;
}
.information .special {
  column-count: 4;
  font-weight: 700;
  padding: 30px 0;
  font-size: 2rem;
}

.information ul {
  color: rgb(216, 0, 0);
  display: list-item;
  list-style-position: inside;
}

.information li {
  list-style: none;
  line-height: 3.2rem;
}

@media only screen and (max-width: 1100px) {
  .information .special {
    column-count: 3;
    font-weight: 700;
    padding: 30px 0;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .information .info {
    display: block;
    font-size: 1.5rem;
  }
  .information .special {
    column-count: 2;
    font-weight: 700;
    padding: 30px 0;
    font-size: 1.7rem;
  }
  .information li {
    list-style: none;
    line-height: 3.2rem;
  }
}
