.showFavorite {
  width: 4vw;
  height: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 3vw;
  position: absolute;
}
.iconShowFavorite {
  font-size: 4.5rem !important;
  color: red;
}
.iconShowFavorite1 {
  font-size: 4.5rem !important;
  color: rgb(255, 255, 255);
}
.amountFavorite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 4vw;
  color: white;
  font-size: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.showFavorite:hover .divAllFavorite {
  width: 18vw;
  position: absolute;
  top: 4vw;
  left: -3vw;
  display: block;
  border: 0.05vw rgb(211, 211, 211) solid;
}

.divAllFavorite {
  display: none;
}

.contentShowFavorite {
  width: 100%;
  max-height: 27vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.haederShowFavorite {
  width: 100%;
  min-height: 3vw;
  max-height: 3vw;
  background-color: rgb(28, 2, 99);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
}
.iconClose {
  cursor: pointer;
  font-size: 3rem !important;
  position: absolute;
  right: 1vw;
}
.iconDelete {
  cursor: pointer;
  font-size: 3rem !important;
  position: absolute;
  right: 0.4vw;
  top: 0.4vw;
  background-color: white;
  border-radius: 50%;
}
.boxApartmentFavorite {
  width: 80%;
  border: 0.05vw rgb(211, 211, 211) solid;
  color: black;
  margin: 1vw 0;
  position: relative;
}
.imgApartmentFavorite {
  width: 100%;
  height: 8vw;
}
.infoApartmentFavorite {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5vw;
  text-align: center;
  color: rgb(28, 2, 99);
}
.infoError {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2vw;
  text-align: center;
  color: rgb(28, 2, 99);
  margin: 2vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.iconError {
  font-size: 2.1rem !important;
  color: red !important;
}
