.apartmentShow .calendar {
  position: relative;
  width: 95%;
  margin-right: 5%;
  height: auto;
}

.calendar .aaa {
  width: calc(100% - 34px);
  position: relative;
  border: rgb(16, 0, 61) 2px solid;
  border-top: rgb(16, 0, 61) 5px solid;
  color: rgb(24, 0, 90);
  font-weight: 700;
  height: 400px;
  max-height: 400px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .apartmentShow .calendar {
    position: relative;
    width: 100%;
    margin: 50px 0 0 0;
    height: auto;
  }

  .calendar .aaa {
    width: calc(100% - 34px);
    height: auto;
  }
}
