.‏‏connectWithUser {
  width: 100%;
}
.diviconhiden {
  position: relative;
}
.iconhiden {
  position: absolute;
  top: 0.4vw;
  left: 31%;
  cursor: pointer;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
} */
