.‏‏connectWithUser {
  width: 100%;
}
.‏‏connectWithUser .diviconhiden {
  position: relative;
}
.‏‏connectWithUser .divErr {
  height: 20px;
  color: red;
  line-height: 1vw;
  font-size: 1.5rem;
  font-weight: bold;
}

.‏‏connectWithUser .iconhiden {
  position: absolute;
  bottom: 15px;
  left: 10px;
  cursor: pointer;
}
/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
} */
