.personalPage {
  position: relative;
  width: 70%;
  margin: 4vw auto;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: white !important;
  font-size: 1.4vw !important;
  font-weight: 700 !important;
  width: 20%;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-size: 1.6vw !important;
  font-weight: 700 !important;
  color: rgb(0, 0, 0) !important;
  background-color: white;
}

.MuiTabs-flexContainer {
  border: 0.2vw solid black !important;
}

.css-1aquho2-MuiTabs-indicator {
  height: 0 !important;
}
