
.react-calendar__tile--now {
    background: var(--orange);
  }
  
  .react-calendar__tile abbr{
  display: none;}
  
  .react-calendar__year-view .react-calendar__tile abbr{
  display: block;
  }
  .react-calendar__tile.react-calendar__month-view__days__day.react-calendar__month-view__days__day--neighboringMonth {
    opacity: 0.1;
  }
  
  button.react-calendar__tile.react-calendar__month-view__days__day:hover {
    background: none;
    border: none;
  }
  .react-calendar__navigation {
    width: 50%;
  margin: 0 auto;
  align-items: baseline
  
  }
  .react-calendar__navigation button{   
    color: var(--blue);
    font-size: 1.8rem;
    font-weight: 700;
  }
  
  .react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    font-size: 3rem;
  }
  .react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    font-size: 3rem;
  }
  .react-calendar__tile {
  height: 7rem;
  padding: 6px;
  }
  .react-calendar__tile--active{
    background-color: var(--white);
    color: var(--white);
  }
  .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: var(--white) !important;}
  
  .react-calendar{
  height: 100%;
  width: 100% !important;
  max-width: 100%;
  max-height: 100%;
  border: none !important;
  }
  .react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
    font-size: 1.8rem;
    background: var(--white);
    color: var(--blue);
  }
  abbr[title] {
    text-decoration: none !important;
  }
  
  .date_cal{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  padding: 3px 6px;
  color: var(--blue);
  font-size: 1.6rem;
  font-weight: 700;
  
  }
  
  .tile_parasha{
    display: flex;
    flex-direction: column;
    
    align-items: flex-end;
  padding: 3px 6px;
  color: var(--yelow);
  font-size: 1.4rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  }
  .date_heb{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
  padding: 4px;
  color: var(--white);
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 0.8;
  font-size: 1.5rem;
  font-weight: 700;
  }
  .dateTile{
    position: relative;
    background-image:
      linear-gradient(to top left, transparent 50%, var(--purple) 0),
      linear-gradient(to bottom right, transparent 0, var(--blue) 50% );
    background-repeat: no-repeat;
    background-position: left, right;
    width: 100%;
    height:  100%;
  }
   .busy .dateTile{
    background-image:
      linear-gradient(to top left, transparent 50%, var(--purple-lite) 0),
      linear-gradient(to bottom right, transparent 0, var(--blue-lite) 50% );
      border: 2px solid var(--blue);
      width: 100%;
      height:  100%;
    
  }
   .busy_title{
    background-image:
      linear-gradient(to top left, transparent 50%, var(--purple-lite) 0),
      linear-gradient(to bottom right, transparent 0, var(--blue-lite) 50% );
      border: 2px solid var(--blue);
  }

  #size_div_title{
    width:5rem !important;
    height:3rem !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}  
  
  .calendar_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 12rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    position: absolute;
    top: 3rem;
    left: 3rem;
  }
  .month_heb{
    font-size: 1.1rem;
  }

  
  @media only screen and (max-width: 600px) {
    .react-calendar__navigation {
      width: 80%;
    }
    .react-calendar__month-view__weekdays__weekday {
      padding: 0em;
      font-size: 1.2rem;
    }
    .date_cal{
      font-size: 1.2rem;
    }
    .date_heb {
      font-size: 1.1rem;
    }
    .month_heb{
      font-size: 0.8rem;
    }
  
    .react-calendar__tile {
      height: 6rem;
      padding: 2px;
      }
      .dateTile{
        position: relative;
        background-image:
          linear-gradient(to top left, transparent 55%, var(--purple) 0),
          linear-gradient(to bottom right, transparent 0, var(--blue) 45% );
        background-repeat: no-repeat;
        background-position: left, right;
        width: 100%;
        height:  100%;
      }
       .busy .dateTile{
        background-image:
          linear-gradient(to top left, transparent 55%, var(--purple-lite) 0),
          linear-gradient(to bottom right, transparent 0, var(--blue-lite) 45% );
          border: 2px solid var(--blue);
          width: 100%;
          height:  100%;
        
      }

      .calendar_title{
        position: relative;
        top: 10px;
        float: left;
        left: 10px;
        font-size: 1.2rem;
        width: 9rem;
        margin-bottom: 15px;
      }
    
      #size_div_title{
        width: 4rem !important;
        height: 2.5rem !important;}
        
  }
  