.showFavorite {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconShowFavorite {
  font-size: 2.5vw !important;
  cursor: pointer;
  left: 3vw;
  position: absolute;
}

.divAllFavorite {
  width: 18%;
  height: 80%;
  position: fixed;
  /* top: 50px; */
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  border: 0.05vw rgb(211, 211, 211) solid;
}

.contentShowFavorite {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: auto;
}

.haederShowFavorite {
  width: 100%;
  min-height: 3vw;
  max-height: 3vw;
  background-color: rgb(28, 2, 99);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4vw;
}
.iconClose {
  cursor: pointer;
  font-size: 2vw !important;
  position: absolute;
  right: 1vw;
}
.boxApartmentFavorite {
  width: 80%;
  /* height: 15vw; */
  border: 0.05vw rgb(211, 211, 211) solid;
  color: black;
  margin: 1vw 0;
}
.imgApartmentFavorite {
  width: 100%;
  height: 8vw;
}
.infoApartmentFavorite {
  font-size: 1vw;
  font-weight: 700;
  line-height: 1.5vw;
  text-align: center;
  color: rgb(28, 2, 99);
}
