.apartmentShow .divMaps {
  position: relative;
  width: 100%;
  height: auto;
}

.divMaps .imgmarker {
  width: 200px;
}

.divMaps .map {
  width: calc(100% - 4px);
  position: relative;
  border: rgb(16, 0, 61) 2px solid;
  border-top: rgb(16, 0, 61) 5px solid;
  color: rgb(24, 0, 90);
  font-weight: 700;
  height: 300px;
  line-height: 3rem;
}
