.bar {
  height: 14rem;
  width: 75%;
  position: relative;
  top: 0;
  padding: 0 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.1vw solid rgb(207, 207, 207);
}
.bar .divBar {
  height: 120px;
  /* width: 14; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "GanCLM" !important;
font-size: 10rem;
font-weight: 700;
}
.logo {
  position: relative;
}

.logo h2 {
  color:  var(--blue);
  font-size: 9rem;
  position: absolute;
  /* top: 50%; */
  transform: translate(0%, 10%);
  font-family: "GanCLM" !important;
  cursor: pointer;
}

.logo h2:nth-child(1) {
  color: var(--blue);
  -webkit-text-stroke: 2px var(--blue);
}

.logo h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.bar .div_logo {
  position: relative;
  width: 50%;
  height: 100%;
}
.bar .imgLogo {
  height: 7rem;
  width: 8rem;
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  /* z-index: -1; */
}
.bar .title_logo {
  position: absolute;
  bottom: 0px;
  right: 4rem;
  color:  var(--blue);
  font-size: 1.8rem;
  font-family: "GanCLM" !important;

}
.bar .divConnect {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  flex-direction: column;
  font-family: "GanCLM" !important;
  color: var(--blue);
}

.bar .divConnect_modal {
  display: flex;
  align-items: center;
  font-weight: 700;
  cursor: pointer;
  font-size: 1.7rem;
  /* flex-direction: column; */
}
.bar .div_modal {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 1000;
}
.bar .allConnect {
  position: absolute;
  top: 110px;
  left: 15%;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (max-width: 1200px) {
  .bar {
    width: 80%;
    padding: 0 10%;

  }}
@media only screen and (max-width: 1000px) {
  .bar {
    width: 90%;
    padding: 0 5%;
  }}
@media only screen and (max-width: 700px) {
  .bar {
    width: 95%;
    padding: 0 2.5%;
  }}
  

@media only screen and (max-width: 600px) {
  .bar {
    height: 90px;
    width: 86%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1vw solid rgb(207, 207, 207);
    padding: 0 7%;
  }
  .bar .imgLogo {
    height: 70px;
    width: 140px;
  }
  .bar .logo h2 {
    font-size: 5rem;
    transform: translate(0%, 20%);

  }
  .bar .imgLogo {
    height: 4rem;
    width: 4.5rem;
    position: absolute;
    top: 0.5rem;
    right: 1.2rem;
    /* z-index: -1; */
  }
  .bar .title_logo {
    position: absolute;
    bottom: 0px;
    right: 1.5rem;
    color:  var(--blue);
    font-size: 1.1rem;
    font-family: "GanCLM" !important;
  
  }
  
  
  .bar .divBar {
    height: 60px;
    /* width: 14; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bar .allConnect {
    position: absolute;
    top: 70px;
    left: 5%;
  }
  .bar .divConnect {
    font-size: 1.5rem;
  }
}
