.apartmentShow {
  position: relative;
  z-index: 0;
  /* display: initial; */
  width: 100%;
}

.apartmentShow .divHeader {
  position: sticky;
  top: 0vw;
  right: 10.2%;
  z-index: 10;
  width: 100%;
  height: 4vw;
  background-color: white;
}
.apartmentShow .divCarousel {
  width: 100%;
  position: relative;
}

.apartmentShow .divCommponent {
  margin-top: 3vw;
  width: 100%;
  position: relative;
}
.apartmentShow .divCommponent-SendMessage-Calendar {
  width: 60%;
  position: relative;
  right: 18vw;
  display: grid;
  grid-template-columns: 50% 50%;
}

.apartmentShow .filterArea {
  height: 4vw;
  width: 100%;
  margin: 0px auto 0px;
  background-color: rgb(28, 2, 99);
  /* position: sticky;
  top: 0; */
  border-bottom: rgb(222, 241, 255) 9px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  z-index: 100;
}
