.bar {
  height: 8vw;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1vw solid rgb(207, 207, 207);
}
.divBar {
  height: 7vw;
  width: 14;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLogo {
  height: 7vw;
  width: 14vw;
}
.divConnect {
  display: flex;
  align-items: center;
  font-size: 1vw;
  font-weight: 700;
  cursor: pointer;
}
.allConnect {
  width: 14vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
