.bar {
  height: 8vw;
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.1vw solid rgb(207, 207, 207);
}
.divBar {
  height: 7vw;
  width: 14vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLogo {
  height: 100%;
  width: 100%;
}
